## 1.print

In [2]:
#toplama
print(6 + 5)

11

In [3]:
#cikarma
print(6 - 3)

3

In [4]:
5 - 4

1

In [5]:
#carpma
print(5 * 4)

20

In [6]:
#bolme
print(12 // 2)

6

In [7]:
12 / 2

6.0

In [8]:
#ustel fonksiyon
print(5 ** 2)

25

## 2. type()

In [10]:
print(type(15))
print(type("0rnek test"))
print(type(True))
type(2.5)

<class 'int'>
<class 'str'>
<class 'bool'>

float

## 3. atama islemi

In [13]:
x = 10
print(x)
type(x)

10

int

## string + string

In [12]:
print( "kirmizi" + "balon")

kirmizibalon

## 5. bir integer"i string olarak okumak

In [19]:
x = 50
print(type(x))
print(type(str(x)))

y = float(x)
print(y)

<class 'int'>
<class 'str'>
50.0

## SORU 1

Ali"nin yasi 25"tir. Ali nin adini ve yasini iki degiskene atayiniz. Bu degiskenleri kullanip Ali25 yazdiriniz.

In [17]:
Isim = "Ali"
Yas = str(25)
print(Isim+Yas)

Ali25

## SORU 2

Bir surahide 500 ml su var. 200 ml lik bardaklardan 2 bardak su eklenirse surahideki suyun 900 ml olacagini gosteriniz.

In [22]:
surahi = 500
bardak = 200

surahi = surahi + (bardak * 2)
print(surahi)

900

In [25]:
?print

## 6. string ve integer in beraber kullanimi

In [27]:
boy = 120
kilo = 35 

print("Cocugun boyu " + str(boy) + " ve kilosu " + str(kilo) + " tir.")

Cocugun boyu 120 ve kilosu 35 tir.

## 7.string * int

In [29]:
print("ornek " * 3)
print("*" * 15)

ornek ornek ornek
***************

## 8. len

In [30]:
len("Turkiye")

7

In [31]:
len("istanbul")

8

## 9. True ile False toplanabilir mi?

In [32]:
True + False

1

## 10. del() function

In [33]:
a = "machine learning"
del(a)

In [34]:
print(a)

NameError: name 'a' is not defined

In [38]:
## SORU 3

degisken1 = "veri"
degisken2 = "bilimi"
degisken3 = "okulu"

print(degisken1 + ("_ " * 3) + degisken2 + ("_ " * 3) + degisken3 + " ifadesinin karakter sayisi:")

veri_ _ _ bilimi_ _ _ okulu ifadesinin karakter sayisi:

In [39]:
## upper & lower

veri1 =  "VERI BILIMI"
veri2 = "veri bilimi"

print(veri1 == veri2)

False

In [40]:
veri1 =  "VERI BILIMI"
veri2 = "veri bilimi".upper()

print(veri1 == veri2)

True

In [41]:
a = "veri bilimi"
a.upper()

'VERI BILIMI'

In [43]:
## 12. replace() function

veri = veri2.replace("v","V")
print(veri)

VERI BILIMI

In [47]:
## """ strip() function"""


yazi = "qqqqwwwweeeeVERI BILIMIrrrr"
x = yazi.strip("qwer")
print(x)

VERI BILIMI

In [49]:
yazi = "www.veribilimiokulu.com"

x = yazi.strip("w.com")
print(x)

veribilimiokulu

In [52]:
x.index("o")

10

In [51]:
##  dir() function

dir(x)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [53]:
a = "DSMLBC: data science machine learning bootcamp"
a.title()

## replace() ile yap

'Dsmlbc: Data Science Machine Learning Bootcamp'

In [54]:
a.capitalize()

'Dsmlbc: data science machine learning bootcamp'

In [56]:
a = a.title()
print(a)

Dsmlbc: Data Science Machine Learning Bootcamp

In [58]:
a = a.replace("Dsmlbc", "DSMLBC")
print(a)

DSMLBC: Data Science Machine Learning Bootcamp

In [59]:
## int()

a = "50"
b = "80"

print(a + b)

5080

In [60]:
a = "50"
b = "80"

print(int(a) + int(b))

130

In [62]:
## str + int

"string ifadelere boyle " + str(3) + " integer ekliyoruz."

'string ifadelere boyle 3 integer ekliyoruz.'

In [63]:
## input() function

not1 = input("Not1 i giriniz:")
not2 = input("Not2 i giriniz:")

sonuc = ((int(not1) + int(not2)) / 2)
print(sonuc)

Not1 i giriniz:3
Not2 i giriniz:4
3.5

In [65]:
## substrings

tweet_text = "Ahmet bey: yine dersteyiz"

print(tweet_text[11:])
print(tweet_text[11:-1])

yine dersteyiz
yine dersteyi